<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>MyBillDetails</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <!-- {{ data.a }} -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <h1>Electricity Bill Details</h1>
                </div>
                <div class="col-md-2 offset-md-4">
                    <a class="btn btn-danger" href="{% url 'logout' %}" role="button">LOGOUT</a>
                </div>
            </div>


        <table class="table table-dark">
            {% if data %}
            <thead>
            <tr>
                  <th scope="col">Consumer No</th>
                  <th scope="col">Net Payable</th>
                  <th scope="col">Prompt Discount</th>
                  <th scope="col">Prompt Payment date</th>
                  <th scope="col">Due date</th>
                  <th scope="col">Units</th>
                  <th scope="col">Month</th>
                  <th scope="col">Date</th>
                  <th scope="col">To Be Paid</th>
                  <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for i in data %}
            <!-- {{i}} -->
            <tr>
                    <td>{{i.consumerNo}}</td>
                    <td>{{i.netPPDAmount}}</td>
                    <td>{{i.promptPaymentDiscount}}</td>
                    <td>{{i.promptPaymentDate}}</td>
                    <td>{{i.dueDate}}</td>
                    <td>{{i.consumptionUnits}}</td>
                    <td>{{i.billMonth}}</td>
                    <td>{{i.billDate}}</td>
                    <td>{{i.billToBePaid}}</td>
                    <td><a href="/delete/{{ i.consumerNo }}">Delete</a></td>
                    <!-- <td>{{object_list}}</td> -->
            </tr>
            {% endfor %}

            </tbody>
        </table>
        {% if total_bill %}
        <h6>TOTAL BILL: Rs. {{total_bill}}/-</h6>
        {% endif %}
        {% else %}
            <h5>No bills mapped/identified to User - {{user}}</h5>
        {% endif %}

        <div class="dropdown-divider"></div>
        <div class="row">

        <form class= "form-inline" method="post">{% csrf_token %}
            <div class="grid">

                <input class="form-control mb-2" type="text" name="content" placeholder="Consumer Number" required pattern="[0-9]+">
                <button class="btn btn-primary mb-2" type="submit">Add Consumer</button>
            </div>
            </form>
            {% if messages %}
        <!-- <ul class="messages"> -->
            {% for message in messages %}
             {% if message.tags == "error" %}
             <!-- <div class="col-md-3"> -->
                 <div class="col-md-6 alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>{{ message }}</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            <!-- </div> -->
            {% else %}
                <div class="col-md-6 alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                 <strong>{{ message }}</strong>
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
            {% endif %}
            <!-- <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li> -->
            {% endfor %}
        <!-- </ul> -->
            {% endif %}


        </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


            <!-- <h3>{{i.netPPDAmount}}: {{i.promptPaymentDiscount}} {{i.dueDate}} {{i.consumptionUnits}} {{i.billMonth}} {{i.billDate}}</h3> -->
    </body>
</html>
