<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Login</title>
    </head>
    <body>
 
{% load crispy_forms_tags %}
        <div class="container">

        <div class="content-section">
            <form method="post">
                {%csrf_token%}
                <fieldset class = "form-group">
                    <legend class="border-bottom mb-4">Welcome - Please Login</legend>
                    {{form|crispy}}
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Sign In</button>
                    <a href="{% url 'password_reset'  %}" role = "button" class="btn btn-info">Forgot password</a>
                </div>
            </form>
        <div class="dropdown-divider"></div>
          <!-- <a class="dropdown-item" href="#">New around here? Sign up</a> -->
          <p class="text-muted">New to this website?</p>
          <a class="btn btn-outline-danger" href="{% url 'signup' %}" role="button">Sign Up</a>
          <!-- <a class="dropdown-item" href="#">Forgot password?</a> -->
        </div>
        </div>

    </body>
</html>
