<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Logout</title>
    </head>
    <body>
        <div class="container">
            <h1>Thanks!</h1>
            <a class="btn btn-primary" href="{% url 'detail' %}" role="button">LOGIN AGAIN</a>
        </div>
    </body>
</html>
